@import url("./../../node_modules/font-awesome/css/font-awesome.css");

header {
  padding: 3rem 3rem 1rem;
  img {
    width: 10rem;
  }

  .col {
    i {
      font-size: 2.65rem;
      color: #51c4d3;
    }
  }
}

button {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  border: none;
  outline: none;
  background-color: #51c4d3;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(105, 105, 105), -2px -2px 10px rgb(105, 105, 105);
  animation: fade-in linear 500ms forwards;
}

.fade-in{
  animation: fade-in linear 500ms forwards; 
}

.save-btn{
  background-color: #89C541;
  animation: save-center 500ms linear forwards;
}

.cross-btn{
  animation: cross-center 500ms linear forwards;
  background-color: #f35656;
}

.save-btn-ani{
  animation: save-right 500ms linear forwards;
}

.cross-btn-ani{
  animation: cross-left 500ms linear forwards;
}

@keyframes fade-in {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes save-right {
  from{left: 50%;}
  to{left: 55%;}
}

@keyframes cross-left {
  from{left: 50%;}
  to{left: 45%;}
}

@keyframes save-center {
  from{left: 55%;}
  to{left: 50%;}
}

@keyframes cross-center {
  from{left: 45%;}
  to{left: 50%;}
}